<h1><%= message %></h1>
<h2><%= error.status %></h2>
<% if (typeof showStack !== 'undefined' && showStack && typeof error !== 'undefined' && error && error.stack) { %>
<pre><%= error.stack %></pre>
<% } %>
